h1{
    color:limegreen
}

.header{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display:flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: whitesmoke;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}